In [1]:
import yfinance as yf
import pandas as pd
print("SUCCESS: yfinance working")

SUCCESS: yfinance working

In [2]:
import yfinance as yf
import pandas as pd

data = yf.download("^NSEI", interval="5m", period="60d")

data.reset_index(inplace=True)
data.to_csv("../data/nifty_spot_5min.csv", index=False)

data.head()

[*********************100%***********************]  1 of 1 completed

Price,Datetime,Close,High,Low,Open,Volume
Ticker,,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
0,2025-10-24 03:45:00+00:00,25850.800781,25939.300781,25846.050781,25939.300781,0
1,2025-10-24 03:50:00+00:00,25886.000000,25892.400391,25840.400391,25851.150391,0
2,2025-10-24 03:55:00+00:00,25886.400391,25893.300781,25859.500000,25886.300781,0
3,2025-10-24 04:00:00+00:00,25875.400391,25887.599609,25864.500000,25885.849609,0
4,2025-10-24 04:05:00+00:00,25914.300781,25914.699219,25862.550781,25876.150391,0