In [1]:
import pandas as pd

df = pd.read_csv("../data/nifty_raw_intraday.csv")

df.head()

,Datetime,Close,High,Low,Open,Volume
0,NaN,^NSEI,^NSEI,^NSEI,^NSEI,^NSEI
1,2025-10-24 03:45:00+00:00,25850.80078125,25939.30078125,25846.05078125,25939.30078125,0
2,2025-10-24 03:50:00+00:00,25886.0,25892.400390625,25840.400390625,25851.150390625,0
3,2025-10-24 03:55:00+00:00,25886.400390625,25893.30078125,25859.5,25886.30078125,0
4,2025-10-24 04:00:00+00:00,25875.400390625,25887.599609375,25864.5,25885.849609375,0

In [2]:
df.columns = [c.strip() for c in df.columns]

df.columns

Index(['Datetime', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [3]:
numeric_cols = ["Open", "High", "Low", "Close", "Adj Close", "Volume"]

for col in numeric_cols:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4253 entries, 0 to 4252
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  4252 non-null   object
 1   Close     4252 non-null   float64
 2   High      4252 non-null   float64
 3   Low       4252 non-null   float64
 4   Open      4252 non-null   float64
 5   Volume    4252 non-null   float64
dtypes: float64(5), object(1)
memory usage: 199.5+ KB

Handle missing values

In [4]:
df = df.ffill()

df = df.dropna(subset=["Close"]).reset_index(drop=True)

df.isna().sum()

Datetime    0
Close       0
High        0
Low         0
Open        0
Volume      0
dtype: int64

In [5]:
df = df[(df["Close"] > 0) & (df["High"] > 0) & (df["Low"] > 0)]

df.describe()

              Close          High           Low          Open  Volume
count   4252.000000   4252.000000   4252.000000   4252.000000  4252.0
mean   25953.996223  25963.211843  25944.688225  25954.091703     0.0
std      198.171586    196.999875    199.045370    198.205836     0.0
min    25320.000000  25340.900391  25318.650391  25320.199219     0.0
25%    25830.424316  25839.924316  25819.987305  25830.850098     0.0
50%    25962.900391  25970.875000  25953.525391  25963.050781     0.0
75%    26112.024902  26120.962402  26101.674805  26112.212402     0.0
max    26367.699219  26372.849609  26353.000000  26366.849609     0.0

In [6]:
df.to_csv("../data/nifty_clean_intraday.csv", index=False)

print("Data preprocessing completed successfully")

Data preprocessing completed successfully